body, html {
  width: 100%;
  height: 100%;
}

.roomContainer {
  margin: auto;
  width: 100%;
  max-width: 768px;
  height: 100vh;
  border: solid 1px #333;
  border-radius: 10px;
  overflow: hidden;
}
.roomContainer .room {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.roomContainer .room .roomTitle {
  width: 100%;
  height: 100px;
  background-color: #333;
}
.roomContainer .room .roomBody {
  width: 100%;
  height: 100%;
  background-color: #00A0E9;
}
.roomContainer .room .roomChat {
  width: 100%;
  height: 100px;
  background-color: #333;
}